nav{
    display: flex;
    align-items: center;
    height: 90px;
}

nav .links-container{
    margin-right: 100px;
}

nav a{
    padding: 100% 10px;
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}
nav a:hover{
    color: var(--accent-color);
}

.mobile-nav-toggle{
    display: none;
}

.mobile-nav-toggle svg{
    fill: #000;
}

#logo{
    margin: 0 auto 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo:hover{
    background-color: #fff;
}

#logo img{
    width: fit-content;
    height: 60px;
}

nav .call-us-cta-btn{
    margin: 0;
    background-color: var(--accent-color);
    color: #000;
}

nav .call-us-cta-btn svg{
    fill: #000;
}

@media (max-width: 601px) {
    nav{
        height: 60px;
        position: relative;
    }

    nav #logo{
        margin-left: 10px;
    }
    
    #logo img{
        height: 50px;

    }

    nav .links-container{
        margin: 0;
        padding: 0;
        background-color: #fff;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 60px;
        left: 0;
        width: 100%;
        display: none;
    }
    nav .mobile-nav-toggle{
        display: flex;
        padding: 3px;
        border-radius: 7px;
        margin-right: 10px;
        border: 1px solid #aaa;
    }

    nav .links-container.active {
        display: flex;
        min-width: 200px;
        min-height: fit-content;
        background-color: #fff;
        z-index: 9;
    }

    nav .links-container.active a{
        padding: 20px 10px;
    }
    nav .mobile-nav-toggle .close-icon { display: none; }
    nav .links-container.active .close-icon { display: block; }
    nav .links-container.active .menu-icon { display: none; }

}